.previousButton,
.nextButton {
  background-color: aqua;
}
.pagination-buttons {
  text-align: center;
  margin-top: 20px;
}

.pagination-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pagination-button:disabled {
  background-color: #1b1a1a;
  cursor: not-allowed;
}

.input-discount {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-discount:focus {
  outline: none;
  border-color: #007bff;
}
